.navbar{
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5em;
    background-color: lightblue;
    max-height: 10em;
    border-style: solid;
    border-color: white;
    
       
}

.home{
    padding: 2em;
}

.poke{
    padding: 2em;
}